[2013-08-19 10:25] cyberdesigner opened #1 "locale change does not change the number filter"
Hello Lucas,

i have included this package, the <scipt...> is created and the right file will be loaded in backgroud.

but the filter doesnt take care of the different number-separators.
Is there anything else to do? I have seen the $broadcast. If i watch for it, i can see the new locale definition. but the allready formated numbers leave unchanged.

thanks in advance..

Jan

[2013-08-19 18:12] #1 closed, assigned to nobody

[2013-12-03 17:17] danieljsinclair opened #4 "tmhDynamicLocale.set() breaks angular when ng-app scope is place on <html/>"
When binding elements like TITLE it's necessary to put ng-app as high in the DOM hierarchy as possible, in this case HTML as per recommendation;
http://docs.angularjs.org/api/ng.directive:ngApp

Since this module loads angular locale scripts into the top of the HEAD this fails to fit completely breaks badly angular for anything in HEAD (see console output).

Here's a repro;

http://jsfiddle.net/za

[2013-12-03 18:54] #4 closed, assigned to nobody

[2014-01-01 21:19] danicomas opened #5 "Making tmhDynamicLocale.set return a promise"
Add this functionality, for that controllers are informed:

[code]

I explain the complete issue in this comment:
https://github.com/angular/angular.js/pull/2458#issuecomment-31427626

[2014-01-02 00:50] #5 closed, assigned to nobody

[2014-01-06 21:43] danicomas opened #6 "Save current language in local storage"
Save current language in the local storage to keep the current language when page is postback (browser's direct navigation).

I think that, the steps for realize the goal, are the following:
- Save the languageid value on a storage
- When run the module, loading the locale script from languageid value.

If you don't want add this functionallity for all users, you can adding a function useLocalStor

[2014-01-12 21:51] #6 closed, assigned to lgalfaso

[2014-01-19 19:16] danicomas opened #7 "Assign default language on .config event"
Now, I assign the default language on .run event and works fine:

[code]

Though, is possible, that the best option should be (for my example):

1) Assign default language on .config event:

[code]

2) No code on .run event. The module should load the language.

It isn't a critical issue, is only a suggestion/question to realize the best practice.

Thanks in advance,

[2014-01-20 15:54] #7 closed, assigned to nobody

[2014-02-03 19:19] Shakeandbake opened #8 "spelling mistake in javascript file"
js file named tmhDinamicLocale instead of tmhDynamicLocale

[2014-02-03 19:26] #8 closed, assigned to nobody

[2014-02-12 23:22] noherczeg opened #9 "Request: Extend documentation with usage examples"
Hey!

I'd like to try out your package, but I can't (I'm not yet an Angular expert) since you've yet to provide usage examples. I'd appreciate if you'd provide some :)

Thanks in advance!

[2014-02-20 12:08] ghost opened #10 "Update Bower repo"
The version bower currently ships is 0.1.1.
The actual Version in master is 0.1.4.
Can you please update the bower version?

[2014-02-21 16:18] #10 closed, assigned to nobody

[2014-03-18 16:35] jmazin opened #12 "main prop"
Hi -- thx for the good work.  Is there a reason there is no 'main' property in your bower.json file?  Adding one would fix a grunt warning.  If not, I'd be happy to provide a pull request.

[2014-03-18 17:58] #12 closed, assigned to nobody

[2014-03-19 14:14] iangregsondev opened #15 "Not playing nice with Bower / Grunt - angular-dynamic-locale was not injected in your file ?"
Hi there,

I just installed this via Bower and everything seemed to go well, but firing up grunt serve rebuilds the script tags inserted in the index.html files. Unfortunately I get the following issue

---

Running "bower-install:app" (bower-install) task

angular-dynamic-locale was not injected in your file.
## Please go take a look in "app\bower_components\angular-dynamic-locale" for the file y

[2014-03-19 16:50] #15 closed, assigned to nobody

[2014-03-24 18:22] tadeucaldas opened #16 "Intermitent IE behavior"
Hi! I´m using this nice API of yours, but i´ve been having some problems with IE (always IE rigth?).

I found out why it happens. It´s becouse script.readyState verification. When it´s not loaded or complete, it doesn´t work well.

Why readyState must be equals those options only?

[2014-03-24 20:09] dylang opened #17 "loadScript can be called multiple times while waiting for script to load"
If `loadScript` is called for a certain script, and it's called again before the script has finished loading, it will make a second request for the same script, instead of waiting for the promise to be resolved.

We see 4+ copies of the locale js on our page because of this.

[2014-03-29 21:28] #16 closed, assigned to nobody

[2014-03-29 21:30] #17 closed, assigned to nobody

[2014-04-03 14:57] mike-spainhower opened #21 "Please `npm publish` to npm registry"
This module would be amazingly useful in the npm registry for those of us who use https://github.com/substack/node-browserify .  Would it be possible to get this published there?  Alternatively, I would be happy to do so with permission if you see this as undesired overhead.

[2014-04-03 15:24] #21 closed, assigned to nobody

[2014-04-07 17:48] NickHeiner opened #24 "Please publish to npm"
You already have a package.json, so publishing to npm is as easy as `npm publish`.

This will allow people to consume this package via npm and browserify.

[2014-04-07 19:06] #24 closed, assigned to nobody

[2014-05-09 21:41] bautes opened #27 "IE9 not override ngLocale module."
Please, take a look at this jsbin: http://jsbin.com/luvixeja/8/edit. You will need to open console log to see the issue.

You will notice I'm using the same loadScript function being used on tmhDynamicLocale.
IE9 doesn't override the current loaded module with new ones. My solution was to override all locale files with a localeId suffix and add the suffix to the storage key search.

[2014-05-10 00:41] #27 closed, assigned to nobody

[2014-05-26 11:01] psaia opened #28 "Strange $injector error on module load"
[code]

As soon as the module is included into my app's module this error gets thrown:

[code]

Libraries:
- Angular 1.2.16
- angular-dynamic-locale 0.1.9

_edit_

I removed the `.run(['tmhDynamicLocale', angular.noop]);` from the module and now it seems to be working.

[2014-06-13 11:44] sarvesht opened #30 "$localeChangeSuccess event not received"
I am not receiving the $localeChangeSuccess event intermittently on refresh of page multiple times

$scope.$on('$localeChangeSuccess',function(){
                $scope.fdate = $filter('date')(1288323623006);
                console.log('event received');
            })

This is how i am using it in my controller. The bootstrapping of the dynamic-locale module is done in a parent module and the ab

[2014-06-18 04:06] #30 closed, assigned to nobody

[2014-06-18 07:02] smilix opened #31 "Handling 404"
If I get an 404 error from the server (e.g. wrong localeLocationPattern or very strange locale) the promise of tmhDynamicLocale.set(...) is neither resolved nor rejected.
I suppose it's possible to catch those errors with

[code]

[2014-06-19 09:25] #31 closed, assigned to nobody

[2014-06-25 15:35] bra1n opened #32 "Provide a minified version via UglifyJS"
Hey,

it would be really nice if you could provide a minified version along with the normal .js file. Since you're already using Grunt, adding uglifyJS into your build process should be a trivial change of a couple of lines and it would reduce the file size by more than 60%:

[code]

That's ~6kb for the original file and ~2kb for the minified version.

Thanks,
Steffen

[2014-06-28 07:57] #32 closed, assigned to nobody

[2014-07-11 15:46] martingg88 opened #33 "Explanation of $cache"
Can anyone tell me how the default $cache work?

[2014-07-15 12:18] #33 closed, assigned to nobody

[2014-07-16 05:03] c0debreaker opened #34 "how to add this module"
Hi,

I would like to use your module into my existing AngularJS project. There is no bower install packageName. Please let me know.

Thanks!

[2014-07-16 16:18] #34 closed, assigned to nobody

[2014-07-16 16:18] #9 closed, assigned to nobody

[2014-07-20 12:29] ghost opened #35 "Problem using the $filter in a directive"
When I use the $filter function in another filter or directive, locale doesn't change in that particular directive.  Everywhere else it's ok.

[2014-07-22 00:10] jreichenberg opened #36 "Enhancement: Allow loading of more than one locale bundle js file"
Really nice module, thanks!  We're using momentjs, which has it's own locale-specific overrides (see https://github.com/moment/moment/tree/develop/lang ).  It would be handy if angular-dynamic-locale would allow configuring an array of "localeLocationPattern"s, and try to load all of them per locale switch.  This would accomodate things like momentjs, bootstrap-datepicker and other libraries that

[2014-07-23 16:29] JobaDiniz opened #37 "Minified version"
Where is the minified version of this module?

_How dumb am I? haha
Found it... delete this, please_

[2014-07-23 17:13] #37 closed, assigned to nobody

[2014-07-23 22:39] #36 closed, assigned to nobody

[2014-07-24 14:28] gauravsaini03-zz opened #38 "dynamic change in input fields"
Hello,

I have applied filter to a text field, but it does not change dynamically ?
Try changing the value in the text box, it does not add , or . according to currency respectively.
http://plnkr.co/edit/nzBA7mx1aTuzd0hEN7E1?p=preview

Thanks
Gaurav

[2014-07-24 17:08] #38 closed, assigned to nobody

[2014-07-25 17:54] c0debreaker opened #39 "updating bootstrap's datepicker"
Hi,

I need to update Angular Bootstrap's Datepicker during runtime. I've already found a code that is working great

[code]

I took it from this plunker - http://plnkr.co/edit/7LsfG5D28Y7jB9vhEiQV?p=preview

I'm actually confused on line 3, angular.copy. Since I'm using your library, I'm not sure how to mimic it using your library.

Any help would be greatly appreciated.

Thanks!

[2014-07-26 03:14] #39 closed, assigned to nobody

[2014-08-05 05:58] gauravsaini03-zz opened #40 "Datepicker locale not working on the fly"
Hello @lgalfaso

Can you Please see the plnkr, the initial locale I selected is "fr" but the date picker is not changing on thefly, rather it works when as soon as I click on it.

http://plnkr.co/edit/QvNZBXb2aJOTArPcef8Q?p=preview

Thanks
Gaurav

[2014-08-05 20:11] #40 closed, assigned to nobody

[2014-08-07 09:45] #28 closed, assigned to nobody

[2014-08-17 15:25] martingg88 opened #41 "locale will not be updated immediately but later on."
I've set new locale in angular config, but it will take time to load the locale from server and thus
I will not get the latest updated locale when the page hit the homeController. for later on, i will get the latest updated locale for subsequent scripts (etc: searchController and others).

how to make the locale updated first before running the rest of scripts (etc. homeController).

[2014-09-04 18:41] #41 closed, assigned to nobody

[2014-09-17 10:01] Kroid opened #42 "Bug with pluralization"
If I dynamic change language russian <-> english on page with ng-pluralize, many errors created:

TypeError: undefined is not a function
    at Object.ngPluralizeWatch (http://hq.ma.local:3000/assets/angular.js?body=1:19308:37)
    at Scope.$digest (http://hq.ma.local:3000/assets/angular.js?body=1:11923:40)
    at Scope.$apply (http://hq.ma.local:3000/assets/angular.js?body=1:12180:24)
    at http

[2014-09-17 10:16] #42 closed, assigned to nobody

[2014-09-25 13:18] sistemisolarirossi opened #43 "Why tmh?"
Why the name "tmhDynamicLocale" ? What does "tmh" stands for?

[2014-09-25 14:17] #43 closed, assigned to nobody

[2014-10-06 17:11] thany opened #44 "Values in the view aren't updated"
Here's what I'm doing, a little bit simplified.

Controller:

[code]

View:

[code]

When I select another locale, I can see the locale file being loaded, and the $locale.id gets updated as expected and reflects in my view (line 1). The day names (line 2 in my view) are updated as well. No problems so far. From this point on, I would expect dates to be in the right format, since that part appears

[2014-10-06 17:50] #44 closed, assigned to nobody

[2014-10-06 19:19] azachar opened #45 "tmhDynamicLocale.get?"
Hello,
Is there any example how to retrieve the current dynamic locale?

I would like to reuse the cookieStore to retrieve the selected locale after refresh of the page and propagate it to some other services.

Thank you!

Cheers,
Andrej

[2014-10-17 00:03] austhomp opened #46 "Is there a way to preload all the locales I need instead of loading them async?"
We would prefer to have all of the locales we need already loaded instead of requesting them as needed.  I looked but didn't see an obvious way to accomplish this. Do you know of a way to do this?

Thanks

[2014-10-22 12:46] #45 closed, assigned to nobody

[2014-10-22 16:43] #46 closed, assigned to nobody

[2014-11-27 00:12] boxfish opened #48 "bower complains EMALFORMED for version 0.1.23"
when bower install angular-dynamic-locale, it complains about EMALFORMED in bower.json:

Additional error details:
Unexpected token }

The extra comma at the end of the bower.json may cause the problem.

{
  "author": "Lucas Galfaso",
  "name": "angular-dynamic-locale",
  "main": "src/tmhDynamicLocale.js",
  "description": "Angular Dynamic Locale",
  "version": "0.1.23",
}

[2014-11-27 11:17] #48 closed, assigned to nobody

[2014-11-27 22:04] ericq opened #50 "can you given an example of using tmhDynamicLocaleProvider in angularjs"
I'm a newbie in AngularJs.  can you provide an example how to add the following to initialize the tmhDynamicLocale.

function(tmhDynamicLocaleProvider) {
      tmhDynamicLocaleProvider.localeLocationPattern('/base/node_modules/angular-i18n/angular-locale_{{locale}}.js');
    })

[2014-11-27 23:33] #50 closed, assigned to nobody

[2014-12-16 15:43] #35 closed, assigned to nobody

[2014-12-17 01:04] brokenalarms opened #51 "failed to instantiate module ngLocale"
I have been struggling with this all day. I cannot get your code to work.

Uncaught Error: [$injector:modulerr] Failed to instantiate module ngLocale due to:
TypeError: Cannot read property 'length' of undefined

This error normally means that some other module can not be loaded, but in this case it -is- specifically ngLocale, being the module Angular is trying to instantiate.

I have listed tmh.d

[2014-12-18 14:41] vlopato opened #52 "Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
Hi!

I try to use your module in the my app (angularjs + requirejs). And I got an error in the Chrome:

 Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

It happens in the following code:

[code]

Script loaded correctly but in the parentElement of script object I can see null. I don't know why but seems like script is not appe

[2014-12-25 12:45] #51 closed, assigned to nobody

[2015-02-03 14:22] afonso-praca opened #53 "create a banner to put the version number inside the source code"
I think is easier to control the version of your lib when we have the version number inside the code. ie: just like angular does.

/*
 AngularJS v1.3.11
 (c) 2010-2014 Google, Inc. http://angularjs.org
 License: MIT
*/

Thanks in advance

[2015-02-04 12:13] lgalfaso commented on #53
This is very reasonable, just landed a fix for this at 3a25cd8a5517f13daaff30a744ed27fe5d422944

[2015-02-04 12:13] #53 closed

[2015-02-04 12:34] afonso-praca commented on #53
Thanks a lot. I am waiting for a new release with this feature. Maybe 0.1.25. Your module is very useful for me.

[2015-02-05 13:06] JobaDiniz opened #54 "Provide release notes"
Please, provide release notes for each release so we know what is fixed, which new feature is added, and most importantly, whether it has any breaking changes.

[2015-02-06 09:01] starf commented on #54
This, because with 0.1.27 i have no idea what has changed/improved.
Thanks

[2015-02-06 09:36] JobaDiniz commented on #54
I have 0.1.17. Almost every release does not have notes... Dont know whether has breaking changes

[2015-02-06 09:39] lgalfaso commented on #54
I have to agree on this, and also need to automate it. BTW, there are no breaking changes since the first release, only small additions done every now and them.

Will keep this open to track automating the change log and release notes

[2015-03-04 13:08] ali-bugdayci opened #55 "reference a Node in a context where it does not exist"
Getting errors on karma tests on both chrome and phantomjs

Version: ├── angular-dynamic-locale#0.1.27

[code]

[2015-03-04 14:11] lgalfaso commented on #55
Hi, thanks for reporting this.
- Are you using require.js?
- Would it be possible to have a plunker that shows this error?

Thanks

[2015-03-04 14:21] ali-bugdayci commented on #55
Hi,

thanks for response. I might have prematurely created the issue. It might be broken becuase of phantomjs or something else.

Will let you know if I find anything

[2015-03-04 14:26] #55 closed

[2015-03-04 15:10] epeschier opened #56 "Minification fails"
Did you try minifying the js file? I'm getting this error:
Unknown provider: nProvider <- n <- $exceptionHandler <- $rootScope <- tmhDynamicLocale

[2015-03-04 15:34] lgalfaso commented on #56
There is a minified version at
https://github.com/lgalfaso/angular-dynamic-locale/blob/master/tmhDynamicLocale.min.js
,
but if you create a plunker with the error, I can try to figure out what is
wrong

On Wednesday, March 4, 2015, Erik Peschier <notifications@github.com> wrote:

[2015-03-04 15:39] lgalfaso commented on #56
Another option is to start your app with strict-di enabled, and you will be
able to see what is the exact dependency that is wrong

[2015-03-25 18:26] Olithom opened #58 "defaultLocal is selected but not loaded"
Hello, sorry for my english.

I use
tmhDynamicLocaleProvider.defaultLocale('en-us');
tmhDynamicLocaleProvider.useCookieStorage();

If the file corresponding to the cookie does not exist, tmhDynamicLocale broadcast an error $localeChangeError and set $locale.id and activeLocale variable to defaultLocale.

When I try to set with the defaultLocal on this error, as (localeId === activeLocale), then th

[2015-03-25 20:15] lgalfaso commented on #58
Hi, if you can create a plunker that shows the error, then it would be ideal.

Just a note, in Angular there is a clear separation between configuration and runtime. You should never change the configuration once your application start. In this case, you should not set the default once your application started and you receive the error.

[2015-03-26 09:54] Olithom commented on #58
Thank for your answer !

I have create the plunker : http://plnkr.co/edit/vOc4D32tXpFHKeP6r5yO?p=preview

When you are a new user or click on 'simule en-us' and click stop/run, the response is
en-us
myEnglishTest

When you click on 'simule missing language and click stop/run, the response is
en-us but there is not any value.

[2015-03-29 09:25] lgalfaso commented on #58
I am trying to understand the issue here. Angular has a built-in locale that is loaded when you start your app and you did not load any locale before. This is, if you did not include any of the locale files before your app starts. Think of this like a fallback locale in case something fails.
Now, when you set an invalid locale as the default, the library tries to load it when it starts. If it fail

[2015-03-29 13:59] Olithom commented on #58
Ok, thank you, I thought that with defaultLocale('en-us') and localeLocationPattern('{{locale}}.js'), angular know the default file would be 'en-us.js'. Now I think I understood that fallback language can not be recovered with a xhr request but should be preloaded in angular. The problem is :
 - I have a complex en-us file which set moment, angular-translate, etc...
 - I cant change the source of

[2015-03-29 15:05] lgalfaso commented on #58
One solution would be to also include your en-us file. ei.

<script src="your-en-us.js"><\script>

[2015-03-30 09:53] Olithom commented on #58
Hi,

I have found the good way for my problem, If you want, you can watch the plunker, cliking on the 'missing language simulation' and running.

Thank for your help, the issue is closable.

[2015-03-30 10:36] lgalfaso commented on #58
Good that this worked for you!

[2015-03-30 10:36] #58 closed

[2015-04-02 22:56] lgalfaso commented on #56
Without some extra information, it is not possible to know what is wrong. I am closing this as there is not enough information to diagnose the issue. In the case that there is a way to reproduce the issue, feel free to reopen it

[2015-04-02 22:56] #56 closed

[2015-05-12 11:58] felixmau opened #59 "Accessing locale varaibles"
Hello,

I'd like to know, if there is a way to access the locale variables after they've been loaded?

Greetings

[2015-05-12 17:42] lgalfaso commented on #59
Hi,
  There are two ways, `tmhDynamicLocale.set(...)` returns a promise with the updated `$locale` or you can just look at `$locale` itself once the new locale is loaded.

[2015-05-15 14:03] DieterLi opened #60 "Locale didn't change dynamically for UI Bootstrap Datepicker"
Actually, UI Bootstrap Date Picker can change the locale according to AngularJS I18N, by including different local js file in the head of the page.

But it doesn't take effect by this dynamic one, although the corresponding locale js file has been included into the web page indeed.

Do I need to do more actions to make it happen? There is no explanation in the introduction. Please help. Thanks in

[2015-05-15 15:28] lgalfaso commented on #60
UI Bootstrap Date Picker uses its own mechanism for formatting dates independent of `$locale`. What you have to do is hook into the promise that is returned when changing the locale and propagating this change to the configuration you set to Bootstrap UI.

Quite some time ago, I wrote http://plnkr.co/edit/x9IrQoaFiKTHHX6XrRig?p=preview that would be a possible way to make Bootstrap UI date picker

[2015-05-15 15:30] lgalfaso commented on #60
Tested with the latest version of Bootstrap UI and the same plunker still works. The original plunker was for Bootstrap UI 0.10 and all the way to 0.13, seam to work. This is, if you use any of these versions, you should be good

[2015-05-15 15:32] lgalfaso commented on #60
Just to keep it here in case someone else is having this issue, I am adding the relevant code here

[code]

[2015-05-16 10:45] DieterLi commented on #60
Igalfaso, you've done a great job for the datepicker directive, which works great for me. Thanks a lot.

But unfortunately, my problem is using datepicker popup, and I'm not so familiar with source code about ui.bootstrap. I've tried several ways and failed. Any idea about it? Thanks in advance.

[2015-05-16 14:20] lgalfaso commented on #60
@DieterLi there is no extra code needed to make it work with datepicker popup
http://plnkr.co/edit/SriQrUbqzbDzfIaeyeO8?p=preview

This is turning into support of a library that is not this, so I think there is nothing else to be handled in this issue and then I am closing it

[2015-05-16 14:20] #60 closed

[2015-05-16 15:28] DieterLi commented on #60
@lgalfaso It's highly appreciated for what you've done.

And I think I figured out that problem is caused by the version of ui.bootstrap. Since 0.11.0 and above, that mechanism has changed in ui.bootstrap.

It also works fine on my side with ui.bootstrap 0.10.0. And currently, we are using 0.13.0, meanwhile the solution doesn't work any more. I wish I could fix it for ui.bootstrap 0.13.0, but limi

[2015-05-16 15:29] DieterLi commented on #60
@lgalfaso By the way, I really like your idea and the solution here. Quite brilliant.

[2015-05-16 15:39] DieterLi commented on #60
@lgalfaso In 0.11.0 and above, datepicker directive still uses the same mechanism, and works fine. But for popup one, it's changed to a new way. So I guess it would need a new way to deal with it.

If there is not type for input tag, type="date", there isn't a popup, which doesn't like in 0.10.0

[2015-05-17 03:59] DieterLi commented on #60
@lgalfaso I have to admit that is my fault. At first, I got confused about ui.bootstrap datepicker popup with Chrome supported HTML5 date input, which also provides a popup datepicker.

Actually, this project works very well with the dynamic locale switching.

Thanks a lot for your quick response and help.

[2015-05-17 09:48] lgalfaso commented on #60
@DieterLi BTW, AFAIK, no browser allows any form of customization on the browser native implementation of date picker.

[2015-05-17 13:37] DieterLi commented on #60
@lgalfaso Yes, you're quite right. It's my fault not differentiating the native calendar popup with the one provided by ui.bootstrap.

The locale in native one depends on the language setting of operating system, as least on my Mac system and Chrome on it. So I don't bother to customise it.

But as to ui.bootstrap datepicker popup, it works very well as you suggested. Thanks a lot, and I really li

[2015-06-02 20:21] lgalfaso commented on #59
With no updates in the last 3 weeks, I think that the comment made it.

[2015-06-02 20:21] #59 closed

[2015-06-10 07:04] TheHalcyonSavant opened #61 "$apply() function should be called safely"
I'm getting `Error: [$rootScope:inprog] $digest already in progress` in FF. I'm using angular v1.3.14. I assume you have forgotten `if (!$scope.$$phase)` before calling $apply [here](https://github.com/lgalfaso/angular-dynamic-locale/blob/master/src/tmhDynamicLocale.js#L128) and [here](https://github.com/lgalfaso/angular-dynamic-locale/blob/master/src/tmhDynamicLocale.js#L136).

Do you get the sam

[2015-06-16 09:12] mil-mly opened #62 "Properties assigned to $locale by other decorators are being removed"
Hello everybody :-)

  I've found a problem on lines 83-85:

[code]

This code removes all the properties of oldObject that does not exist in newObject, which removes properties assigned by other decorators of $locale service. Is this desired behavior?

[2015-06-16 10:19] lgalfaso commented on #62
This is the desired behavior. Say you added some properties to some of the server side `$locale` files, then when the locale changes, then it should reflect the `$locale` as it comes from the server.
I think there are two options:
* Modify the locale files server side
* Have a whitelist of properties that are not modified

[2015-06-16 10:45] mil-mly commented on #62
But this will also remove all the properties you set on $locale in other decorators. Consider following code:

[code]

I would expect to have $locale decorated by myProperty, but then comes tmh.dynamicLocale which removes the property as it does not exist in newly loaded $locale.

[2015-06-16 13:58] lgalfaso commented on #62
There is no way for this library to know if a property was added by a decorator or it is part of the original `$locale`. Do you expect that if you override any of the existing values using a decorator that these remain?

This is not a simple question that has a generic answer with a solution that works for everybody. I would recommend that you do

[code]

and then, when you set the locale, to do

[2015-06-18 09:28] moneytree-doug commented on #60
:+1: This is exactly what I needed.

[2015-06-18 22:57] ericjames opened #63 "Handling when a file is not found or setting default locale file"
Can you give an example of how to handle when a file is not found?  Because I want to set a default locale file in case the language is not found.

[2015-06-18 23:39] michaelgrossklos opened #64 "tmhDynamicLocaleProvider.defaultLocale()"
If tmhDynamicLocaleProvider.defaultLocale() ist set it isn't possible to change the locale with thmDynamicLocale.set(). Is there any work around?

[2015-06-19 14:31] lgalfaso commented on #64
`tmhDynamicLocaleProvider.defaultLocale()` sets the default locale upon initialization and the locale can be changed after without any issue. Would it be possible for you to create a plunker with the error you are seeing?

[2015-06-19 14:36] lgalfaso commented on #63
Are you talking about how to handle the case that the default locale is not set or the case that a normal locale is not set? For the default locale, it might be somehow difficult (but not impossible).
For all the other changes, it is a lot easier and there are two alternatives:
* listen for the event `'$localeChangeError'`
* `tmhDynamicLocale.set(...)` returns a promise, that promise is rejected i

[2015-06-19 14:41] lgalfaso commented on #61
`loadScript` calls the callbacks using the browser `script.onload` (`var script = document.createElement('script')`.) So unless something is fiddling with the browser element creation functions or `onload` to add them within a `$digest`, this should not be possible.

Can you create a plunker that shows this issue?

[2015-06-19 15:33] michaelgrossklos commented on #64
There is no error message at all. It just don't work. If I console out `tmhDynamicLocaleProvider.getLocale()` after I call `set()` I only get the default, but not the new one. My solution is not to use `defaultLocale()`, but set the default language with `set()` in my main controller. That works too.

[2015-06-19 17:13] lgalfaso commented on #64
Would it be possible for you to create a plunker that shows this error?

[2015-06-19 20:43] mllrjb commented on #61
I'm having a similar intermittent issue when running a large test suite with Karma. Making @TheHalcyonSavant's change fixes the problem for me.

[2015-06-19 20:53] lgalfaso commented on #61
Without a way to reproduce this, it is somehow hard to know what is the root cause. Now, I *think* it is this Firefox issue
https://bugzilla.mozilla.org/show_bug.cgi?id=1127236
https://bugzilla.mozilla.org/show_bug.cgi?id=354347
as outlined here https://github.com/angular/angular.js/issues/10083

If this is the case, then there is nothing for this library nor angular to do. Firefox must never have

[2015-06-19 20:56] mllrjb commented on #61
I'm seeing it using Karma + PhantomJS. I'll see if I can cobble together a test suite from a project.

[2015-06-19 21:44] mllrjb commented on #61
@lgalfaso - I'm having a difficult time reproducing a simple test suite that can reproduce the issue... I'd be happy to do a screen share and show you what I'm seeing in our project space. Any chance you'd be willing to merge this as a best-practice (and no-known side effects) without a test suite?

[2015-06-19 21:49] lgalfaso commented on #61
The property `$$phase` is private, that means that the patch as is without a test that is able to show the error, is not going to get merged.

[2015-06-19 22:47] mllrjb commented on #61
More digging (in case anybody else is interested). When it fails, I see a `$digest` begin and clear, but when your library invokes `$apply`, it fails because the `$rootScope.$$phase = '$digest'` still... Very odd. Across all browsers w/ Karma that I've tested. Will keep digging, but if anybody has ideas...

[2015-06-19 22:51] mllrjb commented on #61
@lgalfaso - I changed the `$rootScope.$apply` in the error handler to user `$rootScope.$applyAsync` and it appears to work fine. Would that be an acceptable solution without a test suite?

[2015-06-20 22:00] ericjames commented on #63
Oops I was actually asking for `tmhDynamicLocaleProvider.defaultLocale()` can you add this to your documentation.   I am using locale with pascalprecht's translate, so I'm looking for a lot of equivalent methods.

FYI the bit of code I was asking for was:
[code]

[2015-06-23 17:39] rnicholls opened #66 "Language Doesn't Change When Using $filter"
When using $filter('currency')('100000', '$'); in a controller, the language doesn't change to the desired "Set" language.

[2015-06-23 20:32] lgalfaso commented on #66
Would it be possible to get some more information? What is not working? Would it be possible for you to create a plunker that shows the error?

[2015-06-23 20:36] rnicholls commented on #66
Hey,

basically I am trying to have this work inside a directive because I need to manipulate the "translated" currency and ad some dom objects to it. But it always gives me english.

[2015-06-23 20:39] lgalfaso commented on #66
You have to keep in mind 2 things:
* The locale chance asynchronously
* `$filter('currency')('100000', '$')` is a string, the string will not change when the locale chances

With this in mind, there are several things you can do, one of the simplest is to do `$scope.$watch(function() { return $filter('currency')('100000', '$'); }, function(value) { /* do something with value */ });`

[2015-06-24 13:37] Kroid commented on #64
@michaelgrossklos, maybe you use
[code]
?

[2015-06-25 15:37] rnicholls commented on #66
That works. Thank you so much !

[2015-06-25 19:53] lgalfaso commented on #66
Good that it helped!

[2015-06-25 19:53] #66 closed

[2015-07-08 10:33] reydi commented on #43
@sistemisolarirossi +1

[2015-07-13 10:06] lolmaus opened #67 "Path/URL troubles with ui-router"
We're using [ui-router](https://github.com/angular-ui/ui-router).

When accessing the app via a non-root page, e. g. `http://foo.bar/baz` instead of just `http://foo.bar/`, angular-dynamic-locale tries to load the locale file from `http://foo.bar/baz/angular/...` which obviously results in a 404.

Is there a way to resolve this issue?

[2015-07-13 10:06] lolmaus commented on #67
Is there a way to customize the path?

[2015-07-13 10:19] lgalfaso commented on #67
`tmhDynamicLocaleProvider.localeLocationPattern('http://baz.com/angular/i18n/angular-locale_{{locale}}.js')` should do it

[2015-07-13 10:21] lgalfaso commented on #67
Or just `tmhDynamicLocaleProvider.localeLocationPattern('/angular/i18n/angular-locale_{{locale}}.js')`

[2015-07-13 11:42] lolmaus commented on #67
Thank you, kind sir!

[2015-07-13 11:42] #67 closed

[2015-08-15 02:31] morfin opened #71 "I cannot set localeLocationPattern"
My translations files are in:
bower_components/angular-i18n

I'm trying this:
tmhDynamicLocaleProvider.localeLocationPattern("bower_components/angular-i18n/");

But definitely that's not the right way. Can you please point me to the right direction ?

Thanks.

[2015-08-15 02:37] morfin commented on #71
Found the solution:
tmhDynamicLocaleProvider.localeLocationPattern("bower_components/angular-i18n/angular-locale_{{locale}}.js");

Thanks anyways.

[2015-08-15 02:37] #71 closed

[2015-09-01 10:42] nomve commented on #61
I also have this issue when I'm using ng-show inside of a directive's template. It's really hard to reproduce because it happens on maybe 5% of first loads. At first I thought the problem was changing the variable used for ng-show, but actually just defining ng-show in the directive template causes this. Like I said it's difficult to reproduce, but since I've changed to $applyAsync it doesn't happ

[2015-09-01 16:52] lgalfaso commented on #61
@nomve this looks like another issue, but maybe related. Would it be possible to know the exact version that you are using? Also, can you check if this is reproducible with the current version (if this is what I suspect, then it should be possible)

[2015-09-01 20:14] nomve commented on #61
@lgalfaso I believe we're using the current version, but I can't check until tomorrow.

[2015-09-01 21:50] lgalfaso commented on #61
@nomve would it be possible that the locale is changed multiple times back-and-forward within the bootstrap?

[2015-09-02 09:42] nomve commented on #61
@lgalfaso it isn't. It's actually not really used because the locale is at the moment just set in a run block, and then never changed after that. It should eventually be available, but isn't right now. So angular is 1.3.18 and 0.1.27. I'll try to setup a case where it shows up.

[2015-09-02 10:19] lgalfaso commented on #61
While trying to reproduce this, I found and fixed another issue, but if you
can create a scenario that shows the problem, then I would like to fix this
issue too before cutting a new release.

[2015-09-02 15:30] LMFinney opened #73 "Angular2 Support?"
Do you have any plans to add Angular2 support?

[2015-09-03 07:03] crisbeto commented on #61
I haven't managed to reproduce this myself, but I've had logs from users on IE11 with an error pointing to https://github.com/lgalfaso/angular-dynamic-locale/blob/master/src/tmhDynamicLocale.js#L61. I'm not quite sure why it happens since the `callback` is wrapped in a `$timeout` which generally doesn't throw "in progress" errors.

[2015-09-03 08:27] nomve commented on #61
I've copied the whole build to another temp directory that I access through localhost, and the completely same build doesn't reproduce under a different URL. Normally I have a temp domain like something.dev. I've even directed localhost to the same directory where the build is normally made and it doesn't reproduce either.

so tl;dr: I can't reproduce and it's one of those bizarre problems.

[2015-09-03 16:07] lgalfaso commented on #73
Angular 2 is still under development, but once there is a clear path to do
on-demand code loading (and if this is not provided by the framework
itself). Then I plan on writing an angular 2 version of this library.

[2015-09-03 16:17] LMFinney commented on #73
Thanks. I suspected as much. I'm working in Angular2 now, and it's too fluid to rely on it yet.

I was hoping, though :)

[2015-09-03 16:17] #73 closed

[2015-09-08 09:02] azachar opened #75 "Is it possible to use ngstorage instead of $cookieStorage?"

[2015-09-08 16:28] lgalfaso commented on #75
never used ngStorage, but if it exposes a service that follows the same signature as `$cookieStorage` then `tmhDynamicLocaleProvider.useStorage('someOtherService')` will make it. If it does not follow the same signature, then it should be possible to create an intermediate service that does the right thing

[2015-09-15 14:00] sargin48 opened #77 "when locale file custom directory"
my plugins was installed with bower an directory
/assets/bower/

locale files contains at
/assets/bower/angular-i18n/

when set locale give error
GET http://localhost:83/angular/i18n/angular-locale_tr.js

if you changeable directory properties,

sorry for my bad english

[2015-09-15 14:05] #77 closed

[2015-09-15 14:05] sargin48 commented on #77
soryy it exist

[2015-10-21 07:28] toofff opened #78 "is it possible to have a table for the "localeLocationPattern" variable?"
The goal would be to have several sources of dynamically import i18n file.

for exemple :
[code]

[2015-10-21 22:21] lgalfaso commented on #78
@toofff this looks interesting, but I am not sure what the specific behavior should be. Is the idea that each location is checked in sequence and accept the first locale that is successfully loaded?

[2015-10-21 22:22] lgalfaso commented on #75
Without any answer, I expect that https://github.com/lgalfaso/angular-dynamic-locale/issues/75#issuecomment-138622093 provides the right solution

[2015-10-21 22:22] #75 closed

[2015-10-21 22:24] lgalfaso commented on #64
I have no way to reproduce this error. Closing. Feel free to reopen with more information on how to reproduce the error or with a plunker that shows the issue

[2015-10-21 22:24] #64 closed

[2015-10-22 07:22] toofff commented on #78
The goal is to load all local that I have in my possession. For the moment the plugin can load a file type, for my project I want to load local files from several plugins at the same time.

Is what I am quite clear in my explanations?

[2015-10-22 07:28] lgalfaso commented on #78
Sorry, but it is not clear the porpoise, would it be possible for you to
write a complete example?

[2015-10-26 07:43] toofff commented on #78
Hello,

I use this as dependency :
- https://docs.angularjs.org/guide/i18n
- http://momentjs.com/

To import the translation files dynamically on my project, I use your dependency.

With several dependency, I have several translation files to be imported dynamically.

Currently I can dynamically import one file type but I would like to have  the opportunity to import more files dynamically. See my

[2015-11-11 14:30] Badabum commented on #60
@lgalfaso , how to save selected date when change locale of datepicker? When I use your decorator everytime when I change locale selected value lost. Thanks.

[2015-11-11 17:18] leandrolimasi opened #80 "Error 404 in minify gulp build"
Hi, I'm get a error 404 for the command **"tmhDynamicLocaleProvider.localeLocationPattern"** in minify gulp build. When not minify it's work fine.

Exists any workarround for this?

this is a error:

    http://localhost:3000/angular/i18n/angular-locale_pt-br.js Failed to load resource: the server responded with a status of 404 (Not Found)

[2015-11-15 10:33] lgalfaso commented on #80
@leandrolimasi would it be possible for you to create a plunker that shows this issue?

[2015-11-15 10:34] lgalfaso commented on #60
@Badabum would it be possible for you to create a plunker that shows this issue?

[2015-11-16 13:04] leandrolimasi commented on #80
@lgalfaso the problem is present in a config file from this project:

http://gitlab.cast.com.br/powerlogic/jcompany-view/blob/master/src/core/plc.config.js

the plunker is a project run in a command "**gulp serve:dist**" from a yoman gulp angular generator.
http://gitlab.cast.com.br/powerlogic/jcompany/tree/master/rhdemo-spa

the command run project in a minify configs. when not minify command "**

[2015-11-16 19:01] lgalfaso commented on #80
I think I am misreading something, as the two issues look different. This issue is saying that the minified version of this library is not working, this would be a big issue but I was unable to reproduce the problem. On the other side, the project claims that there is no way to preload the locales so this library would not need to load them dynamically. This is true, there is no built-in automatic

[2015-11-18 11:11] RopoMen commented on #80
I think that this has something to do with $sce + [$interpolate](https://docs.angularjs.org/api/ng/service/$interpolate)

What happens if you add?

[code]

[2015-11-19 11:05] lgalfaso commented on #78
@aaronhuckabee if you need an absolute URL, you should be able to do
[code]

[2015-11-19 12:03] psalchow commented on #61
I face the same problem with angular 1.4.7 and angular-dynamic-locale 0.1.28.

    Error: [$rootScope:inprog] $digest already in progress
    http://errors.angularjs.org/1.4.7/$rootScope/inprog?p0=%24digest
    minErr/<@http://localhost:8080/bower_components/angular/angular.js:68:12
    beginPhase@http://localhost:8080/bower_components/angular/angular.js:16346:1
    $RootScopeProvider/this.$get</S

[2015-11-19 16:01] #61 closed

[2015-11-19 16:04] lgalfaso commented on #61
@psalchow would it be possible for you to try with the current version at HEAD? If this works as intended, then I will cut a new release just with this fix

[2015-11-19 20:42] Cyber1000 commented on #80
Did you find a solution (beside including external resources)? I need this too, we use minify for our whole project.
Thanks,
Cyber1000

[2015-11-20 07:18] psalchow commented on #61
Awesome! Thanks lgalfaso, that seems to fix the issue. At least in my case. Would be great if you could release this fix.

[2015-11-20 07:31] RopoMen commented on #80
I couldn't find any problem with minification. I use Gulp and usemin

and this is my configuration
[code]

Only thing that I noticed is that you use "" instead of ''

[2015-11-20 09:35] senthanal commented on #80
Hi, I have the same issue described by @leandrolimasi. In my production version, I have only 2 files. One for my own app script and the other one is vendor script. The vendor script contains all the third party libraries which are concatenated and minified. So, again, 'bower_components/angular-i18n/angular-locale_{{locale}}.js' doesn't valid anymore. Don't know how to solve this issue. Any help wo

[2015-11-20 10:15] lgalfaso commented on #80
from this thread, I think it is clear that there is a need for a tool that would:
* download a specific list of locale files (source location to be defined)
* repackage them into a module that would pre-populate this library storage

Then, the new module should be included as part of an existing library.

I think that building this tool should be strait-forward, and a PR is welcome.

[2015-11-25 17:39] maruilian11 opened #81 "move .min.js and .min.js.map to dist"
could you please move `tmhDynamicLocale.min.js` and `tmhDynamicLocale.min.js.map` to dist so that we can add your lib on https://cdnjs.com with **git auto-update** and **npm auto-update**.
thank you very much!
https://github.com/cdnjs/cdnjs/issues/6183

[2015-11-25 20:31] lgalfaso commented on #81
Added the minified versions to dist with 64bba56d945c3d3269d55debef79aaffa5c0d513

[2015-11-25 20:31] #81 closed

[2015-11-26 11:13] maruilian11 commented on #81
:+1:

[2015-11-26 14:32] diaconesq commented on #28
I just ran into this issue too. Turns out it was user error.

When injecting, I used:

    localeReader.$inject = ['tmh.DynamicLocale'];

instead of
    localeReader.$inject = ['tmhDynamicLocale'];

(There is an extra dot in the 1st version).

It's a bit confusing, because the name of the module is 'tmh.DynamicLocale' (with a dot), but the name of the exposed service is 'tmhDynamicLocale'

[2015-11-26 14:35] Weasle opened #82 "Error "$rootScope.$applyAsync is not a function" with Angular.js 1.2.13"
With the latest release 0.1.29, the error  "$rootScope.$applyAsync is not a function" is thrown when having "angular-dynamic-locale" as a dependency, at least for projects based on Angular.js 1.2.13. Newer versions of angular do not seam to show the same issue.e

[2015-11-26 15:53] lgalfaso commented on #82
Hi, sorry, it look like this api was added in angular 1.3. Will update the
docs as 1.2 users will have to use version 0.1.28 or earlier. Thanks for
reporting this!

On Thursday, November 26, 2015, Florian Sonnenburg <notifications@github.com>
wrote:

[2015-11-27 08:00] diaconesq commented on #50
Could you please add the example to the description page of the project? I was lucky to stumble upon this page from Google. Others may not be so lucky.

[2015-12-08 11:23] joarhem commented on #60
Great work lgalfaso and great that you are so motivated in solving users problems :)

One remark, as I just stmbled over a little thing:
As Angular UI Bootstrap now names its directives with a "uib-" in front of the former Name (<uib-datepicker> instead of <datepicker>) in the code of lgalfaso the word 'datepickerDirective' must be replaced with 'uibDatepickerDirective'.

Then it also works with t

[2015-12-08 16:14] xavierva opened #83 "Locales need a page refresh to be updated"
Hi,

I saw on the sample page that when we change locales data are updated.

But locales in my project need a page refresh to be updated.

Is there any option I'm missing ?

[2015-12-08 18:50] lgalfaso commented on #83
Hi, if you can post a minimal plunker that shows the issue, then I can take
a look

On Tuesday, December 8, 2015, xavierva <notifications@github.com> wrote:

[2015-12-09 14:37] xavierva commented on #83
okay, my fault it was a stupid mistake in my code, I forgot to update the locale ...

So it works perfectly, thanks a lot !

[2015-12-09 14:37] #83 closed

[2015-12-11 20:25] andreialecu opened #84 "Sync loading with Webpack"
I was looking into preloading a few locales so that async loading wouldn't be required (I'm using this in cordova so it wouldn't make much sense) and I came up with this:

[code]

Seems to work very well, I'm leaving this here as a possible addition to the readme. A possible improvement might be to create a method in `tmhDynamicLocale`, like `tmhDynamicLocale.cacheLastLoadedLocale('de-de')` for in

[2015-12-11 20:46] lgalfaso commented on #84
@andreialecu thanks!

[2015-12-17 11:36] Badabum commented on #60
@lgalfaso , Hi. I found that in angular ui-bootstrap lib version 0.13.4 function ```scope.move(direction)``` sets activeDate property to the first day of month. So, instead of using ```scope.move(0)``` I`ve used ``ctrls[1].refreshView()``` this works exactly the same way as ```scope.move()``` but doesnt set ```activeDate``` to first day of month. Maybe it'll be helpfull for someone.

[2015-12-21 13:12] miguelCT opened #85 "Allow append the script element to a custom tag"
Hello,

I've been playing around with the plugin and I've found I would need to customize the element tag in which the script element is appended. Currently the script element is appended to the body, but I think it would be a nice addition to be able to select a custom tag.

### Why the need?

In the project I'm working we use the ui-router plugin, so all the content is loaded from a ui view in t

[2015-12-21 14:47] lgalfaso commented on #85
This looks somehow of an edge case, but reasonable. The only thing I would do different is for `appendScriptTo` to take a DOM node. This is, in your example you would need to do `tmhDynamicLocaleProvider.appendScriptTo(document.head);`.

If this is ok, then please open a PR

[2016-01-18 15:42] mariopolo2805 commented on #85
+1

[2016-01-19 10:18] lgalfaso commented on #85
Sorry for taking this long. Will merge and cut a new release this WE

[2016-01-20 10:53] zhaoxiong opened #87 "angular-dynamic-locale works incorrect on android"
angular-dynamic-locale works fine on browser,but does not work well on android(I use ionic to develop a hybrid mobile app).the tmhDynamicLocale.set('zh-CN') return a promise that enters error function.my mobile language setting is chinese

[2016-01-23 08:53] miguelCT commented on #85
Ah, no problem, Thank you for considering the feature.

[2016-01-23 09:59] #85 closed

[2016-01-23 10:01] lgalfaso commented on #87
Hi @zhaoxiong, would it be possible to get some extra context about this bug? What is causing the issue?

[2016-01-25 01:41] zhaoxiong commented on #87
http://stackoverflow.com/questions/34897400/angular-dynamic-locale-works-incorrect-on-android

[2016-01-25 01:43] zhaoxiong commented on #87
It works fine if I run it within anywhere(a tool like tomcat)

[2016-01-31 14:26] lgalfaso commented on #85
Sorry that it took this long, but this is now part of 0.1.30

[2016-02-03 09:43] enrico-padovani opened #88 "Wrong distribution code versions"
Hi,

when downloading from npm in the dist folder it appears that tmhDynamicLocale.js is 0.1.27 and tmhDynamicLocale.min.js is 0.1.30.

In this repo (release 0.1.30) the dist folder contains tmhDynamicLocale.js 0.1.27 and tmhDynamicLocale.min.js 0.1.29.

Could you please check and align the dist code version to the latest?

Thanks you so much,
Enrico

[2016-02-03 11:02] lgalfaso commented on #88
Thanks for reporting this. Updated the versions at `dist` and updated the release script so the latest version is always there

[2016-02-03 11:02] #88 closed

[2016-02-03 13:23] enrico-padovani commented on #82
$applyAsync is for angular >= 1.3. Do you really need to use it, or It could be replaced with $evalAsync / $apply? Everyone running angular < 1.3 will have the same issue.

[2016-02-09 12:11] noddysouthgate opened #89 "Testing locale change with karma"
Hi,

I am having an issue understanding how I need to write a unit test to test whether the I can successfully change the locale from the controller.

Could some provide me with the correct approach to test angular-dynamic-locale in my project?

[2016-02-09 20:43] lgalfaso commented on #89
Hi,
  The one way that there is nothing special, is to just mock this library. In that case, you follow the idea of *mock everything that you are not testing*. If you think this is too much work, then the alternative is to do the same as it is done in this library. (The specific solution will depend on the library you are using for testing, here I am assuming that this is with karma and jasmine)

[2016-02-25 14:43] 0x2206 opened #90 "Follow SemVer for package version"
First of all thank you for your awesome package! We are using it in our projects and we are very pleased with it.

Although, I see there's some space for improvements in terms of versioning. What do you think about following Semantic Versioning to make world a better place? That would really help with dependencies resolution, automation like CI/CD and quality assurance in general.

Some useful res

[2016-03-18 06:57] osmininmk opened #91 "Bug with pluralization since angularjs 1.3.4"
Ng pluralize didn't update inner locale on dynamic update, everthing else works fine.
There is plunker example with bug: http://plnkr.co/edit/4JDVdEuAjlbU6nS89dqG
After switch to Russian language ng pluralize didn't udpate.
After chagngin angular version to 1.3.3 ng-pluralize works.

[2016-03-18 18:54] lgalfaso commented on #91
It is very unfortunate, but it looks like `ngPluralize` is not able to handle locale changes any more. Here is a way to work around this issue using a decorator

http://plnkr.co/edit/LonYZqpw0lfzWViqppi8?p=preview

Unfortunately, the nature of the change makes it unsuitable for it to make it into angular repository.

[2016-03-18 19:15] envision opened #92 "Getting infdigest after installing this plugin"
Hi,

I added those i18n files manually previously and everything worked ok. Now after setting up this plugin I'm getting error on view. Error vanished when I took plugin dependencies out from app.js

[code]

There is only one view that is using that particular variable. Here are those lines:

[code]

[2016-03-18 21:47] lgalfaso commented on #92
Hi, if you can create a minimal plunker, I can look into this

On Friday, March 18, 2016, Janne Kurkinen <notifications@github.com> wrote:

[2016-03-28 10:47] ChristianUlbrich commented on #84
@andreialecu This is something I need as well, but could you please elaborate further on how to achieve this or point me to a working plunker / ? I am sure I might wrap my head around it, but if you have any clues (where (files), when (phase) to use your above code), that would be helpful...

[2016-03-28 11:22] andreialecu commented on #84
@ChristianUlbrich The above code assumes you're using webpack.

You can just put it inside a `.run` call like this:

[code]

If you're not using webpack, then I'm not sure how this helps you or why you would need it. Care to elaborate?

[2016-03-28 18:38] lgalfaso commented on #87
Did http://stackoverflow.com/a/35633232/1924520 solved this issue? If this is not the case, feel free to reopen this issue.

[2016-03-28 18:38] #87 closed

[2016-03-29 14:21] ChristianUlbrich commented on #84
@andreialecu Thanks! That's all I needed. Sorry, for using "elaborate" :) Actually I can only guess, why your approach works, but do I care? No! Works like a charm.

And yes we are using webpack and I need to pre-bundle the available locales, just like you wanted to.

If I were to wish for something, I think that the localeCache should be synchronously set by a provider.

[2016-03-29 14:27] andreialecu commented on #84
You're welcome! English is not my first language but I don't think there's anything wrong with the word "elaborate", I just wasn't sure what you were asking. :)

[2016-03-31 20:54] amritk opened #93 "Any examples for loading directly into cache?"
I'll probably create a gulp plugin or something that would load selected locales directly into the cache so there's no need to load a file on language change. Could you provide an example of what to load into the cache?

[2016-03-31 22:49] amritk commented on #46
+1 @austhomp did you find a way to do this?

[2016-04-05 15:43] ntvsx193 commented on #82
+1

[2016-04-05 22:02] Sayvai commented on #50
@diaconesq I've just made a pull request with the change to README file showing example usage. I stumbled upon the solution here myself as well, luckily. Hopefully the owner @lgalfaso approves of this.

[2016-04-13 13:56] vincentcialdella opened #96 "Date filters not applied at run time when locale is changed"
Hi,

When I change the locale, the dates are not formated according to the new locale: they don't change.
If I go back and come on the page, the format according to the new locale will be applied.

Any idea ?

[2016-04-13 18:59] lgalfaso commented on #96
Are you using angular built-in date formatters? What angular version? Can
you create a plunker?

On Wednesday, April 13, 2016, vincentcialdella <notifications@github.com>
wrote:

[2016-04-14 06:47] vincentcialdella commented on #96
Actually it seems to come from angular-formly. When I use built-in date formatters directly in a view like this it's working
`<div>{{vm.formlyModel.fromDate | date:'shortDate'}}</div>`

However it's when I'm using datepicker template of angular-formly that it's not working.

[2016-04-14 06:55] lgalfaso commented on #96
Hi, if you put together a plunker, then I can take a look

On Thursday, April 14, 2016, vincentcialdella <notifications@github.com>
wrote:

[2016-04-14 09:20] vincentcialdella commented on #60
Is this working with angularJS 1.4.x ?

[2016-04-14 09:35] Badabum commented on #60
@vincentcialdella, at the moment I work with angular 1.4.4 and its working

[2016-04-14 09:42] vincentcialdella commented on #60
This example is not working for me, I never log anything

`angular
	.module('myApp', [
		'ui.bootstrap'
	])
	.config(function($provide) {
		$provide.decorator('uibDatepickerDirective', function($delegate) {
			console.log('never logs this');
			var directive = $delegate[0];

			return $delegate;
		});
	});`

[2016-04-14 09:51] Badabum commented on #60
@vincentcialdella , what version of [Angular UI](https://angular-ui.github.io/bootstrap/) do you use?

[2016-04-14 10:02] vincentcialdella commented on #60
I'm using 1.0.3 version of angular-bootstrap

[2016-04-14 22:31] evilaliv3 commented on #93
I think also that something like this would be really valuable.

@lgalfaso does the library support loading a data uri via in a way like localeLocationPattern(datauri) ?

if yes one in the build process could simply do a rewrite from localeLocationPattern(/file/path/for/lang) to localeLocationPattern(dataUriOf(/file/path/for/lang))

We are doing it in GlobaLeaks in our build process for other reas

[2016-04-14 22:43] evilaliv3 opened #97 "Evaluate integration of Saucelabs in order to test cross-browser compatibility on commit"
It would be valuable to integrate with Saucelabs in order to test cross-browser compatibility tests on commit.

As the library is using karma as testing framework my suggestion is to start implemeting them using [karma-sauce-launcher](https://github.com/karma-runner/karma-sauce-launcher).

This way it will be possiblle to automatically execute all the unit test on the selection of browsers targett

[2016-04-15 08:10] lgalfaso commented on #97
PRs are welcome.

[2016-04-15 09:28] evilaliv3 commented on #97
I know @lgalfaso thanks :) in the meantime i've annotated it if there is someone interested; i will try to do it in the spare time if we confirm that the component is needed for GlobaLeaks.

could you please give me an answer on: https://github.com/lgalfaso/angular-dynamic-locale/issues/93

[2016-04-15 20:42] lgalfaso commented on #93
@evilaliv3 it should work in any browser that allows `<script src="data:text/javascript;base64,..."></script>`, but it is kind of clunky. That I why I just cut release 0.1.32 that adds the method `tmhDynamicLocaleProvider.addLocalePatternValue` to add a local value to the interpolation locale location pattern. Eg.

[code]

If you would like to give it a spin, it would be great!

[2016-04-16 14:31] lgalfaso commented on #93
I am sure that this can be cleaned up a lot, but given the number of people that are asking for this I will post it here.

- Create a file `generateLocales.js` with this content http://pastebin.com/BYqXzwcC
- Modify `generateLocales.js` to generate the locales you are interested in.
- From a command prompt run
[code]
- Include `tmhPreloadedLocales.js` into your project
- Add the module `'tmh.dynam

[2016-04-16 15:02] evilaliv3 commented on #93
i leave here some comment so that we can iterate on a good solution eventually to be integrated in the library.

```new Buffer(content).toString('base64')``` does not require to use other libraries not already included in node like ```js-base64```

i will be back also when finalized the solution that we are integratin in GlobaLeaks

[2016-04-16 18:28] lgalfaso commented on #93
@evilaliv3 thanks, updated the code and the comment.

[2016-04-18 14:26] lgalfaso commented on #80
With 0.1.32, it is possible to pre-load resources in a build step as in https://github.com/lgalfaso/angular-dynamic-locale/issues/93#issuecomment-210826808
With this, this issue can be closed.

[2016-04-18 14:26] #80 closed

[2016-04-18 21:23] d215steinberg opened #98 "1.32 not backward-compatiblie"
[code]

This worked fine with 1.30, but it times out with 1.32.

[2016-04-18 21:34] lgalfaso commented on #98
From 0.1.30 to 0.1.32 there is only one relevant modification that is to add the method `addLocalePatternValue` to the provider. If you are not using, method then there are no other changes that can have cause this.

Would it be possible for you to create a plunker showing this breaking change?

[2016-04-19 14:10] d215steinberg commented on #98
Our **karma.conf.js** is loading the **dist** version of **tmhDynamicLocale**.  In 0.1.30, the **dist** version was actually 0.1.27.  It seems that your asynchronous-loading change in 0.1.28 is what is breaking our tests.

[2016-04-19 15:28] d215steinberg commented on #98
To fix the tests, I needed to make the following changes.  In short, I no longer need to use asynchronous jasmine nor do I need to use promises, but now I need asynchronous angular (i.e. the **$timeout** mechanism):

Using 0.1.30 (**dist** has version 0.1.27):
---------------------------------------------------------
[code]

Using 0.1.32 (with correct **dist**, this would have  been required from

[2016-04-20 10:57] Crashillo opened #99 "Blocked loading mixed active content"
Hi,

I have a multi-language site, where you can change default language (`navigator.language`) from a selector, to modify angular locale files. Those files are in bower_components, so I had to override default path:
[code]
No problem on localhost because it's over HTTP, but at the server is running over HTTPS, so I get the following message:
`Blocked loading mixed active content "http://**servern

[2016-04-20 13:08] lgalfaso commented on #99
The browser is using the default protocol/server for the page. This is (in
most cases) the one that shows up in the url bar. If this is http, then the
protocol will be http and same for https.

On Wednesday, April 20, 2016, Hugoren Martinako <notifications@github.com>
wrote:

[2016-04-23 11:08] lgalfaso commented on #78
This is now possible by using `tmhDynamicLocaleProvider.addLocalePatternValue`

[2016-04-23 11:08] #78 closed

[2016-04-25 11:03] swisstofu opened #100 "0.1.32 badly packaged"
Hello,

Checking tag 0.1.32, I noticed that https://github.com/lgalfaso/angular-dynamic-locale/blob/0.1.32/dist/tmhDynamicLocale.js still shows up version 0.1.30, and new method `addLocalePatternValue` is missing.

Therefore the published version has the same issue.

Could you please check ? thanks

[2016-04-25 15:36] lgalfaso commented on #100
Thanks, this should be fixed now.

[2016-04-25 15:36] #100 closed

[2016-05-01 15:11] evilaliv3 opened #101 "Improve packaging moving minified files to /dist directory"
According to most ommon best practices in packaging js libraries the minified versions should be delivered inside the ```/dist``` directory that is the one that should include all the build version result of the library packaging.

[2016-05-01 15:12] evilaliv3 commented on #101
The same should probably apply to the ```.map``` file.

[2016-05-01 15:17] lgalfaso commented on #101
And in what form is different to what is present in the current `dist` directory?

[2016-05-01 16:11] evilaliv3 commented on #101
right, probably for error you are shipping them also into the root directory.

[2016-05-02 19:06] lgalfaso commented on #101
Having this file in two places hurts nobody.

[2016-05-02 19:06] #101 closed

[2016-05-05 13:14] 01willtx opened #103 "set does not update the $locale.id"
When changing locale from 'en' to 'fr' the $locale.id property is still set to to 'en'

`           var locale = _.find(locales, function (l){ return l.countryCode === countryCode});
            if (locale) {
                        tmhDynamicLocale.set(locale.id);
             } else {
                        console.log("localeId not found using countryCode: " + countryCode);
             }`

Th

[2016-05-05 13:29] lgalfaso commented on #103
At http://lgalfaso.github.io/angular-dynamic-locale/ there is an example that looks at `$locale.id` (if you look at the source code, it reads `<p>Current locale id: {{$locale.id}}</p>`, would it be possible for you to create a plunker that shows this error?

[2016-05-05 14:34] 01willtx commented on #103
Hello! Thanks for the quick response! Here's the plunkr: http://plnkr.co/edit/MSgsrDXg2CRid5c5ywZv?p=preview

[2016-05-05 14:50] lgalfaso commented on #103
the `$locale` object is not updated synchronously. There are several mechanism to know when `tmhDynamicLocale` updates the locale, in this case, the simplest would be to use the fact that `tmhDynamicLocale.set` returns a promise that is fulfilled when the locale changes. With this in mind, here is an updated version that takes this into consideration http://plnkr.co/edit/EdzfoUYWiQExjebDPEQc?p=pre

[2016-05-05 14:50] #103 closed

[2016-05-05 15:00] 01willtx commented on #103
Ah, great! Thank you!

[2016-05-05 15:10] 01willtx commented on #103
One more question please. So, after calling the update, will other directives relying on $locale have reference to the "new" one? The use case, during app initialization, the db is checked for a country code setting then the locale will be updated if different than the current. There are multiple directives relying on the $locale.

[2016-05-05 16:15] lgalfaso commented on #103
The `$locale` object and all its properties are updated in-place (whenever possible).

[2016-06-20 10:01] sebastienvermeille opened #104 "How do we define a default locale ?"
Hello,
Thank you for this great bundle it works pretty well :+1:

I have just a small problem:
At the first launch of my webapp it tries to load a file in /vendors/locales/locale_.js <--- it miss {{ locale }} like 'en' for example.

Can we define a default locale so that it take {{ locale }} and if undefined -> 'en' ? Thank you for your help I am sure you already answered it hundred of times but I

[2016-06-20 10:59] lgalfaso commented on #104
Hi, `tmhDynamicLocaleProvider.defaultLocale('en');`

[2016-06-22 09:15] #104 closed

[2016-06-22 09:16] lgalfaso commented on #99
Without any activity, I assume that this is solved. If this is not the case, feel free to reopen this issue

[2016-06-22 09:16] #99 closed

[2016-06-22 09:18] lgalfaso commented on #89
This issue has no activity, so I assume that the answer provided solved the issue.

[2016-06-22 09:18] #89 closed

[2016-06-22 09:19] #63 closed

[2016-06-23 15:51] sebastienvermeille commented on #104
Cool works like a charm thank you ! :+1:

[2016-06-24 13:23] alexissusset commented on #81
+1

[2016-07-06 16:08] MMastrofini opened #105 "Issue with special characters"
When I use characters like `&`, `à` or `è`, I see their corresponding code, e.g. `&amp;` for `&` or `&#224;` for `à`. My version is 0.1.32.

[2016-07-06 16:41] lgalfaso commented on #105
Hi, would it be possible to understand what the specific issue is? Would it be possible to have a plunker that shows the issue?

[2016-07-06 16:48] MMastrofini commented on #105
I followed the step by step procedure. The module is working correctly, provided I don't use special characters. When I use special characters, I see their corresponding code, e.g. &amp; rather than & or &#224; rather than à.

E.g. in my HTML I have `<p>{{"FooterA" | translate}}</p>`. In my localized json file I have `{"FooterA":"--- è ---"} `and the output in the HTML page is `--- &#232; ---`

ap

[2016-07-06 17:27] lgalfaso commented on #105
This project is tmh.dynamicLocale, are you looking
for pascalprecht.translate?

On Wednesday, July 6, 2016, MMastrofini <notifications@github.com> wrote:

[2016-07-06 17:34] MMastrofini commented on #105
I am very sorry, I initially thought the problem was somewhere else. Thanks.

[2016-07-06 17:34] #105 closed

[2016-07-15 15:37] mosiruane123 opened #106 "Provider must define $get factory method"
Hi,

I have followed the installation steps very closely and I am stuck with the following error in my browser:

Uncaught Error: Provider tmhDynamicLocale must define $get factory method. from tmh.dynamicLocale

Any ideas on how to solve this?

Thanks

[2016-07-15 17:47] lgalfaso commented on #96
closing this issue as there is no feedback

[2016-07-15 17:47] #96 closed

[2016-07-15 17:49] lgalfaso commented on #106
Hi, if you can create a minimal plunker that shows this error, I can take a look at it.

[2016-07-21 08:36] schnatterer commented on #93
Thanks for your work guys!
 In case anyone is trying to use this with gulp (like me), here's [a more elaborate example](https://gist.github.com/schnatterer/235e62b015c6ac5861853394cbf116d3).

[2016-08-01 11:07] tom94zoe commented on #50
This won't work if the directory was minified. Is there a solution without exlcude it from minification?

[2016-08-01 12:08] lgalfaso commented on #50
@tom94zoe can you please elaborate a little more? If the locale files are not present anywhere to be read online, then you have the option to pre-load them into the cache as in #93

[2016-08-01 13:54] tom94zoe commented on #50
Thank you, the referenced issue is pretty much that what I searched.

[2016-09-27 12:42] yboug commented on #93
Hey,
I have the same problem this solution worked for me on chrome and firefox
but not work on IE
 @lgalfaso if you have an idea how to solve it on IE

[2016-09-27 21:34] lgalfaso commented on #93
@yboug the solution posted should work with relative new version of IE without any issues. For older versions you will have to work around the limitation of IE on `data` schema in `script`. A possible workaround would be:

Modify the solution in this thread so it generates a module that:
- Keeps a map where in one side is the locale key and in the other side a function that wraps the angular local

[2016-09-27 22:57] dliu120 opened #107 "translate-attr fails on object keys with '-' symbol"
<ANY translate-attr="{ data-text: 'TRANSLATED_TEXT' }"></ANY>

fails because of a parse error with the object key having a '-'

https://docs.angularjs.org/error/$parse/syntax?p0=-&p1=is%20unexpected,%20expecting%20%5B%7D%5D&p2=7&p3=%7B

[2016-09-28 08:01] lgalfaso commented on #107
Hey, are you sure you open this issue on the right project?

On Wednesday, September 28, 2016, dliu120 <notifications@github.com> wrote:

[2016-09-28 08:26] yboug commented on #93
@lgalfaso Thanx for your response.
I use IE 9.
So i dont'think thats this problem come from IE version

[2016-09-28 16:47] dliu120 commented on #107
You are right -- sorry wrong project!

[2016-09-28 16:47] #107 closed

[2016-09-29 12:38] yboug commented on #93
@lgalfaso i use another approch to manage this:
 i add a gulp task:
1)
gulp.task('angularI18n',function () {
    return gulp.src('bower_components/angular-i18n/**.js')
        .pipe(gulp.dest(path.join(conf.paths.dist, '/angular-i18n')))
});

2) add 'tmh.dynamicLocale' to angular.module
3)add this two line into app.config.js
tmhDynamicLocaleProvider.localeLocationPattern('angular-i18n/angular-loca

[2016-09-29 18:42] lgalfaso commented on #93
Hi,
  The solution you posted is good and it solves the issue of how to pack
the locales in your app. It does not solve the other issue raised here that
is to populate the cache with the locales so they do not have to be loaded
from the server.

Anyhow, thanks for your post and I hope that this also help other
developers.

On Thu, Sep 29, 2016 at 2:38 PM, yboug <notifications@github.com> wrote:

[2017-01-02 16:24] weldelmongi opened #110 "Module 'tmh.dynamicLocale' is not available! You either misspelled the module name or forgot to load it"
i have this issue with  only IE9 when the code is minified( in production) :
Module 'tmh.dynamicLocale' is not available! You either misspelled the module name or forgot to load it

 i use angularjs 1.5 ,my version of    "angular-dynamic-locale": "0.1.32"
can you help me please ?

[2017-01-02 18:22] lgalfaso commented on #110
Hi, do you have a minimal setup that is able to reproduce this issue?
If you have it, would it be possible for you to create a plunker with the minified version and another with the unminified version?

If possible, also post the steps you are using to minify your code.

Without some extra information, it is not possible to know what is going on.

[2017-01-04 10:48] weldelmongi commented on #110
thank you for your quick answer , it is hard to reproduce this issue outside production platform ,
anyway i have solved the problem by changing the order of js files when they are minified by grunt :)

[2017-01-04 21:07] lgalfaso commented on #110
Based on the previous comment, this might not be an issue with this library. Closing.

[2017-01-04 21:07] #110 closed

[2017-01-04 21:08] lgalfaso commented on #106
No activity in quite a while. Closing.

[2017-01-04 21:08] #106 closed

[2017-01-04 21:11] lgalfaso commented on #92
Quite a white without activity. Closing.

[2017-01-04 21:11] #92 closed

[2017-01-05 10:17] fizerkhan commented on #82
+1

[2017-02-01 17:00] mehl321 commented on #84
This chunk of code was helpful to get started but I took another path with webpack to tackle async issues. It's using ui-router.

In webpack make a bare copy of the locals so they are packaged but not (yet) imported.

[code]

Set the path to the locales in the angular config.

[code]

Finally created a ui-router hook to make sure that the locale is always set *before* your logic starts executing.

[2017-02-11 00:51] andrewheyer opened #111 "Ionic build android"
When using this in the browser with `ionic serve` I have no issue. I have a controller shown just like in the example, and I can switch back and forth between the locales I included in my index.html. However when I use ionic build it is giving me this error.

<img width="835" alt="screen shot 2017-02-10 at 5 45 45 pm" src="https://cloud.githubusercontent.com/assets/19435085/22849270/d55f84f6-efb8-

[2017-02-12 08:27] lgalfaso commented on #111
I am not familiar with ionic, so I am not sure if I can help you here, but
have you tried
https://github.com/lgalfaso/angular-dynamic-locale/issues/93#issuecomment-210826808

?

On Sat, Feb 11, 2017 at 1:51 AM Andrew Heyer <notifications@github.com>
wrote:

[2017-02-13 19:14] andrewheyer commented on #111
That fixed it! Inspecting the device with google chrome dev tools shows the file, thus I am now able to use with my ionic app. Thank you!!!!

[2017-02-13 19:14] #111 closed

[2017-04-07 19:16] vinilanzoni commented on #82
+1

[2017-04-13 10:16] ajayreddy56 opened #112 "when refresh the page default language displaying in dropdown"
hi,

when i select the language from drop down it's working fine and when i refresh the web page the default language is holding in drop down.how to set, whatever language user selects and refreshes the web page  it should be same.

[2017-04-13 14:16] lgalfaso commented on #112
The readme file at the main page reads

It is possible to specify a storage location for the locale using
tmhDynamicLocaleProvider.useStorage(storageName), the name of the storage
must follow the same signature as $cookieStore. The default storage
location is to use a $cache, this default storage is not persistent.

It is possible to ask the storage to be $cookieStore using the shortcut
tmhDynamic

[2017-05-27 09:40] reda-alaoui commented on #84
Here is how I did it with dynamic imports:

[code]

[2017-06-22 11:12] gerardolima opened #113 "@type definition"
Hi, @lgalfaso, is there any Typescript definition file for tmhDynamicLocale?

[2017-06-23 08:36] lgalfaso commented on #113
There is no Typescript definition, but a PR is welcome.

[2017-06-23 10:17] gerardolima commented on #113
nice, I'm really short on time for this sprint, but I can do it soon

[2017-07-06 11:17] ChoOo7 commented on #82
+1

[2017-08-02 05:10] nmani85 opened #115 "Dynamically loading locales"
My locales can change at runtime.
Initially the view (currency and date filters) is loaded with the default locale (en-US), but how do I alter the filters after a localeChangeSuccess event without reloading the state?
http://jsfiddle.net/xparma/pt6s0ha4/ this shows the default behavior. But my problem occurs in a aprticular scenario:

1. Load parent controller (Sets locale via a promise)
2. Child

[2017-08-02 20:41] lgalfaso commented on #115
Sorry, but from the description it is not clear what is not working or what are you trying to achieve.

Is the issue how to set the initial locale?
Is the issue that on startup things are displayed using the English locale and then, when the new locale is loaded, things are rendered using the new locale?
Is the issue that the child does not refresh the value of the currency/date when the locale ch

[2017-08-02 20:48] nmani85 commented on #115
Sorry for not being clear.
On startup it uses en-US locale, but when the new locale is loaded later, things(currency and date format) are not rendered using the new locale.

[2017-08-02 21:36] lgalfaso commented on #115
Here is an updated version of your example with some cleanups http://jsfiddle.net/udaqftpc/
It also has a value `INITIAL_LOAD` that mocks the initialization of the locale value if this is done on the initial load or asynchronously.

With this example, I was not able to make it fail (unless there is something else in the example that I missed.

[2017-10-02 01:44] puppeteer701 opened #116 ".set returns old $local's"
The file is loaded, but promise returns still old $local variables and they are also not set.

[2017-10-02 03:32] puppeteer701 commented on #116
Issue inside my code.

[2017-10-02 03:32] #116 closed

[2017-10-05 22:01] Deklin opened #117 "Karma failure due to 'Possibly Unhandled Rejection'"
So if karma can't load the required file, we are getting an error

	the string "Possibly unhandled rejection: en-us" was thrown, throw an Error :)

Is there a way to define the rejection handler in the config phase for the dynamic locale?

[2017-10-06 20:57] lgalfaso commented on #117
Would it be possible to know what are you specifically looking for?

When there is an error with the locale loading, there is a broadcast of
type $localeChangeError would this be enough for the issue you are facing?

On Fri, Oct 6, 2017 at 12:01 AM Steve Berube <notifications@github.com>
wrote:

[2017-10-06 21:00] Deklin commented on #117
We are trying to figure out how to get by this.

What would be helpful is in the config phase to set a rejection method so we can log or toss the rejection. Because its unhandled when we do our unit tests right now, this is failing because of the unhandled rejection

something like;

  tmhDynamicLocaleProvider.onLocaleLoadFailure(function(e) {
// Toss the error.
};

I'm assuming somewhere there is

[2017-10-06 21:03] Deklin commented on #117
I am also reviewing the code now to see if I can explain better or find the actual problem.

[2017-10-06 21:18] lgalfaso commented on #117
tmhDynamicLocale.set returns a promise that is rejected when loading the
locale fails.

On Fri, Oct 6, 2017 at 11:03 PM Steve Berube <notifications@github.com>
wrote:

[2017-12-29 21:31] 1TheMuffinMan opened #118 "Setting the locale after retrieving from a remote datasource"
Instead of using localstorage I am retrieving the saved user preference elsewhere and retrieving it from an http request.

When the app is initially loaded I set the providers default to 'en-us'. In a run block I eventually get the new locale, and set it using `tmhDynamicLocale.set(...)`. As you can imagine, the issue is that the html has already been rendered and the currency and date filters wou

[2017-12-29 21:58] lgalfaso commented on #118
If you are using any of the built-in filters `dateFilter`, `numberFilter` or `currencyFilter`, they should work without any extra code.

1/ Are you using these filters or using something else?
2/ Keep in mind that `dynamicLocale.set` is an async operation, so everything will be updated once the locale loads
3/ Any chance you can create a plunker that shows this issue?

[2017-12-29 22:02] 1TheMuffinMan commented on #118
I am using the built in filters. I looked at a jsfiddle that you linked in another question http://jsfiddle.net/udaqftpc/1/ and when I change the locale in the select list in Chrome and Edge nothing changes even though the current locale is correct.

When I change it to Deutsch I see this:

Current locale: de-de
Original value: 363652.58
 with filter currency : $363,652.58
2:01:49 PM
Friday, 12/29

[2017-12-29 22:02] lgalfaso commented on #115
Without an update in quite some time, I think it is safe to close this issue.

[2017-12-29 22:03] #115 closed

[2017-12-29 22:04] lgalfaso commented on #112
Without an update in quite some time, I think it is safe to close this issue.

[2017-12-29 22:04] #112 closed

[2017-12-29 22:15] lgalfaso commented on #118
Mmm... this is very strange as that plunker works for me using Chrome. That particular plunker configures its own storage, do you see the same error if you comment out the line

[code]

[2017-12-29 22:28] 1TheMuffinMan commented on #118
Commenting it out will now choose the first language in the list and the filters reflect that, but changing to another locale has the same issue, it won't update, and the error is the same in the console.

[2017-12-29 22:33] lgalfaso commented on #118
That is strange. Do you see the same issue at http://lgalfaso.github.io/angular-dynamic-locale/ ?

[2017-12-29 22:37] 1TheMuffinMan commented on #118
No, it works fine there.

On Fri, Dec 29, 2017 at 2:33 PM, Lucas Mirelmann <notifications@github.com>
wrote:

[2017-12-29 22:40] lgalfaso commented on #118
What about http://jsfiddle.net/udaqftpc/2/ ? This is the same as the original plunker but using the latest angular version.

[2017-12-29 22:42] 1TheMuffinMan commented on #118
It does not work in this updated plunker, same error in console.

On Fri, Dec 29, 2017 at 2:40 PM, Lucas Mirelmann <notifications@github.com>
wrote:

[2017-12-29 22:55] lgalfaso commented on #118
Not sure what is going on but there are a few things that look odd

1/ In you stack trace you show `at tmhDynamicLocale.js:216` but this is not possible in the plunker as it loads the minified version of the library
2/ The line `TypeError: Cannot read property 'language' of undefined` would mean that it is trying to access a property named `language`, but this does not happen in the library

At th

[2017-12-29 23:09] 1TheMuffinMan commented on #118
Okay that was the issue, if I comment out that console.log the fiddle works
now.

On Fri, Dec 29, 2017 at 2:55 PM, Lucas Mirelmann <notifications@github.com>
wrote:

[2018-03-07 08:25] tYYGH commented on #113
Hi! I see that the pull request has been merged (thanks! by the way).
Would it be possible to release a version, so that this feature can be made available through a `package.json` file?

[2018-03-18 08:19] lgalfaso commented on #113
@tYYGH Had a slightly messy release cut as the automated script had some failures, but a new release is now live with the type information in `package.json`. Let me know if you have any issues.

[2018-04-12 10:55] JackPapa0156 opened #119 "Explicit annotation issue"
When boostraping angular v5 app using **angular/upgrade module** I've found following issue:

After turning "strict-di" mode off everything is working:
`this.upgrade.bootstrap(document.body, ['my-app'], { strictDi: false });`

It seems that it is not possible to work in "strict-di" mode with included angular-dynamic-locale.

[2018-04-12 11:47] lgalfaso commented on #119
Hi, any chance that it is your app that is trying to inject
tmhDynamicLocaleProvider
and is not annotating that function?

On Thu, Apr 12, 2018 at 12:55 PM JackPapa0156 <notifications@github.com>
wrote:

[2018-04-12 12:37] JackPapa0156 commented on #119
You are f*cking right - I must have lost my head today.
Great package, btw. Have a nice day! :)

[2018-04-12 12:37] #119 closed

[2018-05-17 12:49] gcgoncalves opened #120 "localeLocationPattern resulting in absolute path on karma"
Hi, I'm having an issue when testing the my app while using the localeLocationPattern function.

I'm setting it in the module config as told to in the instructions:
[code]
Karma output:
[code]

As a local fix, I can set the real absolute path on the provider, but that will break when deployed:
[code]

[2018-05-17 15:46] #120 closed

[2018-05-17 15:48] gcgoncalves commented on #120
I didn't realise I should use 'base/bower_components...' when running karma. Still, I'd need different locale location patterns for prod/dev and test environments, but that's not an issue for the library itself.

[2018-05-19 10:10] f-aubert opened #121 "Angularjs 1.7.x $cookieStore removed"
Hello, maybe I'm wrong but service $cookieStore seems to have been removed. Is there any chance it to be replaced with service $cookies (see https://docs.angularjs.org/guide/migration#migrating-from-1-6-to-1-7) as I presently cannot upgrade to angular 1.7.x long term support and use angular-dynamic-locale.

[2018-05-19 19:44] lgalfaso commented on #121
Hi, as a quick fix, you should be able to do

[code]

I should be able to have a permanent fix within a few days.

[2018-05-19 21:59] lgalfaso commented on #121
Version `0.1.36` should work as expected with Angular 1.7+.

Please let me know if you find any issues.

[2018-05-19 21:59] #121 closed

[2018-05-21 08:21] f-aubert commented on #121
As far as I tested so far, it works great! It compiles and it runs. Thanks a lot for such a quick fix! You're amazing.

[2018-06-11 17:17] daldinger opened #122 "Error during concurrent karma testing: Failed to execute 'removeChild' on 'Node'"
When executing multiple builds in Jenkins that do karma testing on the same build node this error is randomly produced:
[exec]     "message": "Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.\nat bower_components/angular-dynamic-locale/dist/tmhDynamicLocale.js:60:14\n\nError: Failed to execute 'removeChild' on 'Node': The node t

[2018-06-12 14:48] daldinger commented on #122
I tested this again with the latest release (0.1.36) and confirmed the same error is produced. Adding a similar check that the script is the child of the element before removing it from the element resolved the issue.

              if (script.parentNode === element) {
                element.removeChild(script);
              }

[2018-06-12 17:07] lgalfaso commented on #122
By any chance, are you using requirejs?
Are you able to reproduce this with a minimal test case?

On Tue, Jun 12, 2018 at 4:49 PM daldinger <notifications@github.com> wrote:

[2018-06-13 14:19] daldinger commented on #122
I think I tracked it down to some nested test suites/contexts that are doing

         afterEach(function() {
            angular.element(document.body).children().remove();
         });

[2018-06-13 21:30] lgalfaso commented on #122
I’m still torn if this should be fixed at the library. Anyhow, given that
this is causing issues, will apply the patch and cut a new version in a few
days.

On Wed, Jun 13, 2018 at 4:19 PM daldinger <notifications@github.com> wrote:

[2018-07-03 02:48] mvsaad opened #123 "Undesired $timeout"
Hey @lgalfaso , first of all, thanks for the library.

I've recently integrated it with a project I'm working on and noticed that a couple karma tests we have started failing with:

`deferred tasks to flush (1): {id: 0, time: 0}`

It was a shared behavior between 4 components that weren't `$timeout.flush()`ing before doing a `describe`.

After some digging on your library, I found that the culprit

[2018-07-03 19:23] lgalfaso commented on #122
Fixed at 0.1.37

[2018-07-03 19:23] #122 closed

[2018-07-03 19:35] lgalfaso commented on #123
Hi,
  I think I would need a little more information.

`$timeout` should only be used with IE/Edge. Is this what you are seeing?

A locale should be loaded initially when one of these things happen
1. There is an initial default locale
2. There is a locale loaded from another run

Relevant code
https://github.com/lgalfaso/angular-dynamic-locale/blob/master/dist/tmhDynamicLocale.js#L237-L239

Are y

[2018-09-19 00:44] DsanchezPerez opened #125 "Language dialects settings"
I have multiple Spanish dialects for my site; Mexico, Puerto Rico, and Spain.  If I call set("es") how would I know which dialect is set?  Can I use set("es-pr") for Puerto Rican dialect?

[2018-09-20 04:08] lgalfaso commented on #125
When calling set(“es”), this changes the locale to Spanish language, no
specific locale. When calling set(“es-pt”), this changes the locale to
Spanish/Puerto Rico.

This library uses the angular locales. These are here and can be used to
know what locales are supported.

https://github.com/angular/angular.js/tree/master/src/ngLocale

These locales are generated (in an indirect way) from the CLDR.

[2018-09-20 13:36] DsanchezPerez commented on #125
Thank you.  I will update to pass in the 'es-pr'.  Thanks for the quick response.

[2018-09-26 05:35] #123 closed

[2019-01-16 18:35] AbhishekAdusumilli opened #126 "Equalent package for angular 5"
We want to use same package for angular 5

[2019-06-30 09:22] lgalfaso commented on #117
From the last comment, my understanding is that this issue is resolved.

[2019-06-30 09:22] #117 closed

[2019-06-30 09:23] lgalfaso commented on #113
From the last comment, my understanding is that this issue is now solved.

[2019-06-30 09:23] #113 closed